.c-header {
  height: 5rem;
  background-color: #F4F5F8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-header .logo-header {
  width: 100px;
}

.c-footer {
  background-color: #F4F5F8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.c-footer .footer-logo {
  width: 100px;
  height: 50px;
}
.c-footer .footer-box {
  width: 55%;
  margin-left: 16px;
}

.c-menu {
  padding: 20px 0px;
}
.c-menu .c-container-options {
  margin: 0px auto;
}

.c-home .container {
  max-width: 100%;
}
.c-home .col-content {
  min-height: 78.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 64px;
}
.c-home .col-content hr {
  color: #000;
  height: 3px;
  width: 30px;
  margin: 6px 8px 0px 8px;
}
.c-home .col-img {
  background: url("../img/home/img-inicial.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 16px;
}
.c-home .col-img a {
  position: relative;
}
.c-home .col-img a:hover {
  transition: ease-in-out 0.3s;
}
.c-home .col-img a:hover::before {
  content: "Acesse o site da FutFanatics";
  left: -250px;
  background: #606267;
  position: absolute;
  top: -59%;
  padding: 9px 25px;
  border-radius: 2px;
  color: #D9D9D9;
  font-weight: 700;
}

.c-question {
  background-color: rgba(25, 44, 83, 0.92);
  padding: 80px 0px;
  border-radius: 0px 150px 150px 0px;
  width: 90%;
}

.c-instruction .box-img svg {
  height: 70px;
}
.c-instruction .c-header {
  display: flex;
  padding: 40px 0px;
  align-items: center;
}
.c-instruction .c-header .box-img svg {
  height: 60px;
}
.c-instruction .box-question {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding: 30px 20px;
}
.c-instruction .box-question svg {
  width: 50px;
  height: 50px;
}
.c-order .c-header {
  display: flex;
  padding: 40px 0px 0px 0px;
  align-items: center;
}
.c-order .c-header .box-img svg {
  height: 60px;
}

.c-data .c-header {
  display: flex;
  padding: 40px 0px 0px 0px;
  align-items: center;
}
.c-data .c-header .box-img svg {
  height: 60px;
}
.c-data .line {
  position: relative;
}
.c-data .line::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 100%;
  top: 50%;
}
.c-data .boxform {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 32px;
}
.c-data .boxform input {
  width: 100%;
  border: none;
}
.c-data .boxform input::placeholder {
  font-weight: 600;
  color: #d9d9d9;
}
.c-data .next-form {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 32px;
  justify-content: center;
  padding: 0px;
  font-size: 17px;
  margin-bottom: 32px;
  background-color: #192C53;
  color: #FFF;
  font-weight: 500;
  border: none;
  align-items: center;
}

.c-shipping .box-img {
  margin-bottom: 32px;
}
.c-shipping .box-text_envio {
  height: 150px;
  margin-bottom: 64px;
}
.c-shipping .img-envio {
  height: 100px;
  width: auto;
}
.c-shipping .select-envio {
  background-color: #192C53;
  border-radius: 10px;
  font-family: "gotham";
  color: #FFF;
  font-weight: 500;
  border: none;
  width: 200px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.c-shipping .c-clique .video-clique {
  background: url("../img/cliquebg.png");
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-shipping .maps {
  margin-left: 16px;
}

.item-options {
  padding: 30px;
  border: rgba(0, 0, 0, 0.4) 1px solid;
  border-radius: 40px;
  width: 100%;
  min-height: 20vh;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.item-options .img-options {
  width: 40%;
}
.item-options .img-options img {
  width: 100%;
}
.item-options .text-options {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
